

<section class="banner-padding banner-furniture ratio2_1">
    <div class="container-fluid">
        <div class="row partition4">
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-right">
                        <div class="img-part">
                            <img src="~/Frontend/images/fashion/banner/5.jpg" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-4">
                            <div>
                                <h4>save 30%</h4>
                                <h2>women</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-right">
                        <div class="img-part">
                            <img src="~/Frontend/images/fashion/banner/10.jpg" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-4">
                            <div>
                                <h4>save 60%</h4>
                                <h2>headsets</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="collection-banner p-right">
                        <div class="img-part">
                            <img src="~/Frontend/images/fashion/banner/8.jpg" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-4">
                            <div>
                                <h4>save 60%</h4>
                                <h2>women</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="collection-banner p-left">
                        <div class="img-part">
                            <img src="~/Frontend/images/fashion/banner/9.jpg" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-4">
                            <div>
                                <h4>save 60%</h4>
                                <h2>jewellery</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
