<textarea id="reset-password-alerts-json" class="d-none">@Html.Raw(System.Text.Json.JsonSerializer.Serialize(new
{
    title = AppResource.message.PasswordResetSuccessful,
    message = AppResource.message.PasswordResetSuccessMessage,
}))</textarea>
<script src="~/js/reset-password-confirmation.js" asp-append-version="true"></script>

@await Html.PartialAsync("_AlertMessage")

<h1>@(ResourceTextHelper.L("ResetPasswordConfirmationTitle", string.Empty))</h1>
<p>
    @(ResourceTextHelper.L("ResetPasswordConfirmationMessage", string.Empty))
    <a asp-controller="Account" asp-action="Login">@AppResource.Labels.Login</a>.
</p>
